<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="index.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id="main-container">
        <div id="first-block"><p></p></div>
        <div id="blue-block-1">1</div>
        <div id="yellow-block-1">2</div>
        <div id="green-block-1">3</div>
        <div id="blue-block-2">4</div>
        <div id="yellow-block-2">5</div>
        <div id="green-block-2">6</div>
        <div id="black-block-1">7</div>
        <div id="black-block-2">8</div>
        <div id="white-block-1">9</div>
        <div id="white-block-2">10</div>
        <div id="white-block-3">11</div>
    </div>
</body>

</html>